.bg-white {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.img {
  height: 20vh;
  width: 30vw;
}

.shadow {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 30vh;
  border-radius: 12px;
  margin-top: 20px;
  width: 500px;
  max-width: 800px;
  flex-grow: 0;
  height: 60vh;
}

.img2 {
  height: 20px;
  margin-top: 3px;
  margin-left: 2px;
}
input {
  outline: none;
  border: none;
  margin-left: 5px;
}

.mergerow {
  display: flex;
  padding: 6px;
}

ul {
  margin: 0px;
}
